direnv_version 2.35.0

MIN_NIX_VERSION="2.24.7"
CURRENT_NIX_VERSION=$(nix --version | awk '{print $3}')
if [ "$(printf '%s\n' "$MIN_NIX_VERSION" "$CURRENT_NIX_VERSION" | sort -V | head -n1)" != "$MIN_NIX_VERSION" ]; then
	echo "Nix version ${MIN_NIX_VERSION} or higher is required. Version installed ${CURRENT_NIX_VERSION}."
	exit 1
fi

if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
	source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

use flake

source_env_if_exists .envrc.private
